<h1><%= pluralize(@tasks.size, 'Task') %></h1>

<% @tasks.each do |task| %>
  <article>
    <header>
      <h2><%= task.name %></h2>
    </header>
    <p>
      <%= task.description %>
      <%= task.status %>
    </p>
  </article>
<% end %>